[submodule "2020_21/INF2-CS/cw"]
	path = 2020_21/INF2-CS/cw
	url = https://git.ecdf.ed.ac.uk/s1971811/inf2c-cs-20
[submodule "2020_21/INF2C/cw"]
	path = 2020_21/INF2C/cw
	url = https://git.ecdf.ed.ac.uk/s1971811/inf2c-cs-20
[submodule "2020_21/CNU/tutorial01"]
	path = 2020_21/CNU/tutorial01
	url = https://github.com/cnu-2021/cnu-w01-tutorial-MiltFra
[submodule "2020_21/CNU/tutorial02"]
	path = 2020_21/CNU/tutorial02
	url = https://github.com/cnu-2021/cnu-w02-tutorial-MiltFra
[submodule "2020_21/CNU/tutorial03"]
	path = 2020_21/CNU/tutorial03
	url = https://github.com/cnu-2021/cnu-w03-tutorial-MiltFra
[submodule "2020_21/CNU/tutorial04"]
	path = 2020_21/CNU/tutorial04
	url = https://github.com/cnu-2021/cnu-w04-tutorial-MiltFra
[submodule "2020_21/CNU/tutorial05"]
	path = 2020_21/CNU/tutorial05
	url = https://github.com/cnu-2021/cnu-w05-tutorial-MiltFra
[submodule "2020_21/CNU/tutorial06"]
	path = 2020_21/CNU/tutorial06
	url = https://github.com/cnu-2021/cnu-w06-tutorial-MiltFra
